import_path: invoice_update
description: "Updates the invoice with the given ID."
is_async: true
returns: true
depends_on:
  - name: db:mongo
    init: seed-invoice
signature:
  function: update_invoice
  parameters:
    - arg: 0
      name: id
      type: integer
      format: int64
      minimum: 1
      maximum: 3000000
    - arg: 1
      type: object
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            properties:
              item:
                type: object
                properties:
                  price_in_cents:
                    type: integer
                    format: int64
                    minimum: 0
                    exclusiveMinimum: true
                  name:
                    type: string
                    minLength: 1
                    maxLength: 128
                additionalProperties: false
                required:
                  - price_in_cents
                  - name
              quantity:
                type: integer
                format: int64
                minimum: 0
                exclusiveMinimum: true
            additionalProperties: false
            required:
              - item
              - quantity
        billing_address:
          type: object
          properties:
            first_name:
              type: string
              minLength: 2
              maxLength: 64
            last_name:
              type: string
              minLength: 2
              maxLength: 64
            street:
              type: string
              minLength: 2
              maxLength: 128
            number:
              type: integer
              format: int64
              minimum: 0
              exclusiveMinimum: true
            zip_code:
              type: integer
              format: int32
              minimum: 1000
              maximum: 99999
            city:
              type: string
              minLength: 3
              maxLength: 64
            country:
              type: string
              minLength: 3
              maxLength: 64
          additionalProperties: false
          required:
            - first_name
            - last_name
            - street
            - number
            - zip_code
            - city
            - country
        shipping_address:
          type: object
          properties:
            first_name:
              type: string
              minLength: 2
              maxLength: 64
            last_name:
              type: string
              minLength: 2
              maxLength: 64
            street:
              type: string
              minLength: 2
              maxLength: 128
            number:
              type: integer
              format: int64
              minimum: 0
              exclusiveMinimum: true
            zip_code:
              type: integer
              format: int32
              minimum: 1000
              maximum: 99999
            city:
              type: string
              minLength: 3
              maxLength: 64
            country:
              type: string
              minLength: 3
              maxLength: 64
          additionalProperties: false
          required:
            - first_name
            - last_name
            - street
            - number
            - zip_code
            - city
            - country
        extra_info:
          type: string
          minLength: 0
          maxLength: 512
      additionalProperties: false
